<h1>Upload a picture</h1>
<form id="upload-image" action="{{pictures}}" enctype="multipart/form-data" method="POST">

	<label>
		<span class="label-text">Choose an image:</span>
		<input type="file" name="image" data-url="{{thumbnail}}">
	</label>

	<progress value="0" max="100">0%</progress>

	<fieldset class="thumb-container">
		<legend>Choose a filter:</legend>
		<label class="gotham">
			<input type="radio" name="filter" value="gotham">
			<img src="{{root}}images/thumbs/gotham.jpg">
		</label>
		<label class="toaster">
			<input type="radio" name="filter" value="toaster">
			<img src="{{root}}images/thumbs/toaster.jpg">
		</label>
		<label class="nashville">
			<input type="radio" name="filter" value="nashville">
			<img src="{{root}}images/thumbs/nashville.jpg">
		</label>
		<label class="lomo">
			<input type="radio" name="filter" value="lomo">
			<img src="{{root}}images/thumbs/lomo.jpg">
		</label>
		<label class="kelvin">
			<input type="radio" name="filter" value="kelvin">
			<img src="{{root}}images/thumbs/kelvin.jpg">
		</label>
	</fieldset>

	<button type="submit">Upload</button>

</form>
