<h1>Upload a picture</h1>
<form id="upload-image" action="{{pictures}}" enctype="multipart/form-data" method="POST">

	<label class="file">
		<span class="label-text">Choose an image:</span>
		<input type="file" name="image" data-url="{{thumbnail}}">
	</label>

	<fieldset class="thumb-container">
		<legend>Choose a filter:</legend>
		<label class="none">
			<input type="radio" name="filter" value="none">
			<img src="{{root}}images/thumbs/none.jpg" alt="None">
			<span class="label-text">None</span>
		</label>
		<label class="gotham">
			<input type="radio" name="filter" value="gotham">
			<img src="{{root}}images/thumbs/gotham.jpg" alt="Gotham">
			<span class="label-text">Gotham</span>
		</label>
		<label class="toaster">
			<input type="radio" name="filter" value="toaster">
			<img src="{{root}}images/thumbs/toaster.jpg" alt="Toaster">
			<span class="label-text">Toaster</span>
		</label>
		<label class="nashville">
			<input type="radio" name="filter" value="nashville">
			<img src="{{root}}images/thumbs/nashville.jpg" alt="Nashville">
			<span class="label-text">Nashville</span>
		</label>
		<label class="lomo">
			<input type="radio" name="filter" value="lomo">
			<img src="{{root}}images/thumbs/lomo.jpg" alt="Lomo">
			<span class="label-text">Lomo</span>
		</label>
		<label class="kelvin">
			<input type="radio" name="filter" value="kelvin">
			<img src="{{root}}images/thumbs/kelvin.jpg" alt="Kelvin">
			<span class="label-text">Kelvin</span>
		</label>
	</fieldset>

	<fieldset class="buttons">
		<button type="submit">Upload</button>
	</fieldset>

</form>
